@model StartingFromScratchLabb.Models.ViewModels.StartPageViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Model.CurrentPage.Name
    </div>
</body>
</html>
