@model StandardPageViewModel
<div>
    <h1 @Html.EditAttributes(m => m.CurrentPage.Name)>
        @Html.DisplayFor(m => m.CurrentPage.Name)
    </h1>
    <div>
        @Html.PropertyFor(m => m.CurrentPage.MainBody)
    </div>
</div>
